[Unit]
Description=Daemon for exposing the current disk space via Pyro.
After=syslog.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/diskspaced
StandardOutput=syslog
StandardError=syslog

